@import "product.css";
@import "home.css";

/* THIS CSS IS SO THAT THE FOOTER DISPLAY IS ALWAYS AT THE BOTTOM */
#__next {
  display: flex;
  flex-direction: column;
}

html,
body,
#__next {
  height: 100%;
}

/* SWIPER PAGINATION */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000 !important;
}