/* THIS CSS IS SO THAT THE FOOTER DISPLAY IS ALWAYS AT THE BOTTOM */
#__next {
  display: flex;
  flex-direction: column;
}

html,
body,
#__next {
  height: 100%;
}

.title {
  font-weight: bold;
  color: rgb(55 65 81);
  text-transform: uppercase;
}
